@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('../fonts/Roboto/Roboto-Black.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto-font);
}

:root {
  --roboto-font: "Roboto", sans-serif;
  --weight-thin: 100;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --weight-black: 900;

  --primary: #20bb73;
  --primary-hover: #1ab06a;
  --primary-light: #eaf5f6;

  --secondary: #0d152c;
  --secondary-dark: #0c1328;
  --secondary-light: #1e2949;

  --white: #ffffff;
  --black: #000000;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--bs-gray-100);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--bs-gray-600);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-gray-700);
}

body :where(p, input, .nav-link) {
  margin-bottom: 0;
}

p {
  font-size: clamp(14px, 2vw, 16px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  margin-bottom: 0;
  font-weight: var(--weight-medium);
}


figure {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 100%;
  margin: 0;
}

figure.overlay:before {
  position: absolute;
  content: '';
  inset: 0;
  background: var(--secondary);
  z-index: 1;
  opacity: 0.2;
  transition: 0.2s ease;
}

figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-size: clamp(14px, 2vw, 16px);
}

section {
  overflow: hidden;
  padding-block: 50px;
}

.webkit_box {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.arrows {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px #0001;
  background-color: var(--primary);
}

.arrows:after {
  color: var(--white);
  font-family: 'Phosphor-bold';
  font-size: clamp(12px, 2vw, 14px);
}

.swiper-button-prev.arrows:after {
  content: '\E058';
}

.swiper-button-next.arrows:after {
  content: '\E06C';
}


/* backgrounds */
.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary-hover {
  background-color: var(--primary-hover) !important;
}

.bg-primary-light {
  background-color: var(--primary-light) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-secondary-light {
  background-color: var(--secondary-light) !important;
}

/* heading */
.heading {
  position: relative;
  text-align: center;
  color: var(--black);
  padding-bottom: 10px;
  margin-bottom: 40px;
  font-weight: var(--weight-bold);
  font-size: clamp(24px, 2vw, 28px);
}

.heading:after,
.heading:before {
  content: '';
  bottom: 0;
  left: 50%;
  border-radius: 10px;
  position: absolute;
  transform: translateX(-50%);
  background-color: var(--primary);
}

.heading:after {
  width: 130px;
  height: 1.5px;
}

.heading:before {
  width: 25px;
  height: 5px;
  bottom: -2px;
}

/* bootstrap */
.form-control {
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

:where(input, button):focus {
  box-shadow: none !important;
}

.btn {
  width: unset;
  grid-gap: 5px;
  padding: 8px 20px;
  text-align: center;
  border-radius: 5px;
  color: var(--white);
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background-color: var(--primary);
}

.btn:hover {
  color: var(--white) !important;
  background-color: var(--primary-hover);
}

.btn i {
  font-size: clamp(16px, 2vw, 18px);
}

/* header */
header {
  z-index: 999;
  position: relative;
  box-shadow: 0 0 20px #00562e1a;
}

.logo {
  height: auto;
  display: flex;
  max-width: 200px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search_form .input-group {
  margin-bottom: 0 !important;
  padding: 5px;
  grid-gap: 10px;
  border-radius: 5px;
  background-color: var(--white);
  height: 100%;
}

.search_form input {
  font-size: 14px;
}

.search_form .input-group>* {
  padding: 3px 10px;
  border-radius: 5px !important;
}

.search_form .input-group i {
  font-size: clamp(14px, 2vw, 16px);
}

.navbar {
  padding-block: 0 !important;
}

.navbar-nav {
  width: 100%;
  grid-gap: 10px;
}

.nav-link {
  border-radius: 5px;
  transition: 0.2s ease;
  padding: 4px 12px !important;
}

.nav-link:where(.active, :hover) {
  color: var(--white) !important;
  background-color: var(--secondary);
}

.navbar-toggler {
  border: none;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  color: var(--white);
  align-items: center;
  justify-content: center;
  background: var(--primary);
}

/* hero */
.hero {
  background-image: url("../images/backgrounds/hero_bg.svg");

}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero_heading {
  margin-bottom: 15px;
  font-weight: var(--weight-bold);
  font-size: clamp(30px, 4vw, 38px);
}

.hero_heading span {
  color: var(--primary);
}

.hero_text {
  color: var(--bs-gray-700);
  font-size: clamp(14px, 2vw, 16px);
}

.hero .search_form {
  height: 50px;
  margin-top: 35px;
  box-shadow: 2px 2px 20px -5px #0001;
}

.hero_slider {
  border-radius: 6px;
  padding-bottom: 30px;
  margin-inline: 20px;
}


.hero_slider .swiper-pagination {
  bottom: 0px;
}

.swiper-pagination-bullet {
  height: 4px;
  width: 15px;
  border-radius: 10px;
  background-color: var(--secondary);
}

.hero_slider_arrows {
  left: 50%;
  z-index: 2;
  display: flex;
  position: absolute;
  align-items: center;
  top: calc(50% - 15px);
  width: calc(100% - 30px);
  justify-content: space-between;
  transform: translate(-50%, -50%);
}

.hero_slider_arrows .arrows {
  position: unset;
  margin: 0;
  inset: 0;
  background-color: var(--white);
}

.hero_slider_arrows .arrows:after {
  color: var(--secondary);
}

.hero_slide {
  position: relative;
  overflow: hidden;
  height: 250px;
  display: block;
  border-radius: 5px;
}

.hero_slide figure.overlay:before {
  opacity: 0.5;
  background: linear-gradient(90deg, var(--secondary) 10%, transparent 60%);
}

.hero_slide_content {
  top: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  border-radius: 0 0 8px 0;
  z-index: 1;
  justify-content: flex-end;
  height: calc(100% - 50px);
  padding: 20px 60px 20px 30px;
  background-color: var(--secondary);
  align-items: flex-start;
}

.hero_slide_tag {
  position: absolute;
  top: 20px;
  left: 0;
  background: var(--white);
  padding: 4px 10px 3px;
  border-radius: 0 5px 5px 0;
  color: var(--black);
  font-size: clamp(10px, 2vw, 12px);
  font-weight: var(--weight-medium);
  text-transform: uppercase;
}

.hero_slide_title {
  font-size: clamp(22px, 2vw, 24px);
  color: var(--white);
}

.hero_slide_text {
  font-size: clamp(12px, 2vw, 14px);
  color: var(--bs-gray-400);
}

.hero_slide_code {
  display: flex;
  padding: 6px 10px;
  margin-top: 20px;
  border-radius: 5px;
  align-items: center;
  background: var(--primary);
  position: relative;
  padding-left: 68px;
}

.hero_slide_code span {
  color: var(--white);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--weight-bold);
}

.hero_slide_code i {
  top: 50%;
  left: 0;
  font-size: 60px;
  position: absolute;
  color: var(--white);
  transform: translateY(-50%);
}

/* top categories */
.categories_card {
  display: flex;
  padding: 10px;
  grid-gap: 10px;
  border-radius: 5px;
  align-items: center;
  transition: 0.2s ease;
  flex-direction: column;
  border: 1px solid var(--bs-gray-300);
}

.categories_card:hover {
  border-color: var(--primary);
  background-color: var(--primary-light);
}

.categories_img {
  width: 80px;
  height: 80px;
  padding: 5px;
}

.categories_title {
  color: var(--black);
  font-size: clamp(16px, 2vw, 18px);
}

/* top stores */
.featured_store {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 2px 2px 20px -5px #0001;
  overflow: hidden;
}

.featured_store_bg {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: center;
  background-image: url("../images/common/stoer_bg.webp");
}

.featured_store_content {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}

.featured_store_name {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: var(--weight-medium);
  color: var(--black);
}

.featured_store_title {
  margin-top: 5px;
  color: var(--primary);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--weight-medium);
}

.featured_store_content .btn {
  width: 100%;
  margin-top: 20px;
}

.featured_store_img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.featured_store_img img {
  object-fit: contain;
}

.featured_store_bg>* {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: var(--weight-bold);
  color: var(--white);
}

.popular_stores_slider {
  width: 100%;
  padding: 5px;
  height: 360px;
}

.popular_stores_slider .swiper-slide {
  max-width: 305px;
}

.popular_str {
  display: flex;
  align-items: center;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 2px 2px 20px -5px #0001;
  overflow: hidden;
  height: 100%;
}

.popular_str_img {
  height: 100px;
  width: 100px;
  border-right: 1px solid var(--bs-gray-300);
  padding: 5px;
}

.popular_str_img img {
  object-fit: contain;
}

.popular_str_content {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  grid-gap: 3px;
}

.popular_str_name {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--black);
}

.popular_str_offers {
  font-size: clamp(12px, 2vw, 14px);
  color: var(--primary);
  font-weight: var(--weight-medium);
}

/* steps */
.step {
  padding: 40px 20px;
  border: 1px solid #fff2;
  border-radius: 5px;
  height: 100%;
  background: var(--secondary-dark);
}

.step_icon {
  display: flex;
  height: 60px;
  width: 60px;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, var(--primary), var(--primary));
}

.step_icon:after,
.step_icon:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  border-radius: 50px;
  background-color: var(--white);
}

.step_icon:after {
  top: -43px;
  left: 10px;
}

.step_icon:before {
  top: -50px;
  left: -20px;
}

.step_icon i {
  font-size: clamp(22px, 2vw, 25px);
}

.step_title {
  font-size: clamp(18px, 2vw, 20px);
  padding-block: 20px 5px;
}

.step_description {
  color: var(--bs-gray-500);
  font-size: clamp(12px, 2vw, 14px);
}

/* responsive */
@media (max-width: 992px) {
  .hero_slider {
    margin-inline: 0;
  }

  .hero_slider_arrows {
    width: calc(100% - 60px);
  }

  .hero_slide_content {
    height: 100%;
    padding-inline: 70px;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .logo {
    max-width: 180px;
  }

  .navbar-collapse {
    top: 0;
    left: -300px;
    width: 300px;
    padding: 10px;
    height: 100dvh;
    z-index: 999999;
    position: fixed;
    padding-top: 20px;
    transition: 0.3s ease;
    background: var(--white);
    display: block !important;
    border-right: 1px solid var(--bs-gray-200);
  }

  .navbar-collapse.show {
    left: 0;
    box-shadow: 100vmax 0px 0 100vmax #0007;
  }

  .navbar-collapse .navbar-toggler {
    top: 10px;
    right: 10px;
    position: absolute;
    background-color: var(--secondary);
  }

  .nav-link {
    padding: 6px 16px !important;

  }
}

@media (max-width: 576px) {
  .navbar:has(.navbar-toggler) {
    position: unset;
  }

  .navbar-toggler {
    top: 10px;
    padding: 8px;
    right: 10px;
    position: absolute;
  }
}