@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('../fonts/Roboto/Roboto-Black.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto-font);
}

:root {
  --roboto-font: "Roboto", sans-serif;
  --weight-thin: 100;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --weight-black: 900;

  --primary: #20bb73;
  --primary-hover: #1ab06a;
  --primary-light: #eaf5f6;

  --secondary: #0d152c;
  --secondary-dark: #0c1328;
  --secondary-light: #1e2949;

  --white: #ffffff;
  --black: #000000;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--bs-gray-100);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--bs-gray-900);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-gray-700);
}

body :where(p, input, .nav-link) {
  margin-bottom: 0;
}

p {
  font-size: clamp(14px, 2vw, 16px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  margin-bottom: 0;
  font-weight: var(--weight-medium);
}


figure {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 100%;
  margin: 0;
}

figure.overlay:before {
  position: absolute;
  content: '';
  inset: 0;
  background: var(--secondary);
  z-index: 1;
  opacity: 0.2;
  transition: 0.2s ease;
}

figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-size: clamp(14px, 2vw, 16px);
}

section {
  overflow: hidden;
  padding-block: 50px;
}

.webkit_box {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.arrows {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px #0001;
  background-color: var(--primary);
}

.arrows:after {
  color: var(--white);
  font-family: 'Phosphor-bold';
  font-size: clamp(12px, 2vw, 14px);
}

.swiper-button-prev.arrows:after {
  content: '\E058';
}

.swiper-button-next.arrows:after {
  content: '\E06C';
}

/* backgrounds */
.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary-hover {
  background-color: var(--primary-hover) !important;
}

.bg-primary-light {
  background-color: var(--primary-light) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-secondary-light {
  background-color: var(--secondary-light) !important;
}

.bg-secondary-dark {
  background-color: var(--secondary-dark) !important;
}

/* text */


.text-primary {
  color: var(--primary) !important;
}

.text-primary-hover,
a.text-primary:hover {
  color: var(--primary-hover) !important;
}

.text-primary-light {
  color: var(--primary-light) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-secondary-light {
  color: var(--secondary-light) !important;
}

.text-secondary-dark {
  color: var(--secondary-dark) !important;
}

/* heading */
.heading {
  position: relative;
  text-align: center;
  color: var(--black);
  padding-bottom: 10px;
  margin-bottom: 40px;
  font-weight: var(--weight-bold);
  font-size: clamp(24px, 2vw, 28px);
}

.heading:after,
.heading:before {
  content: '';
  bottom: 0;
  left: 50%;
  border-radius: 10px;
  position: absolute;
  transform: translateX(-50%);
  background-color: var(--primary);
}

.heading:after {
  width: 130px;
  height: 1.5px;
}

.heading:before {
  width: 25px;
  height: 5px;
  bottom: -2px;
}

.heading.text-start:after,
.heading.text-start:before {
  left: 0;
  transform: translateX(0);
}

/* bootstrap */
.form-control {
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.5px var(--primary), 0 0 0 5px var(--primary-light) !important;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-size: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzIwYmIwYiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xNzMuNjYsOTguMzRhOCw4LDAsMCwxLDAsMTEuMzJsLTU2LDU2YTgsOCwwLDAsMS0xMS4zMiwwbC0yNC0yNGE4LDgsMCwwLDEsMTEuMzItMTEuMzJMMTEyLDE0OC42OWw1MC4zNC01MC4zNUE4LDgsMCwwLDEsMTczLjY2LDk4LjM0Wk0yMzIsMTI4QTEwNCwxMDQsMCwxLDEsMTI4LDI0LDEwNC4xMSwxMDQuMTEsMCwwLDEsMjMyLDEyOFptLTE2LDBhODgsODgsMCwxLDAtODgsODhBODguMSw4OC4xLDAsMCwwLDIxNiwxMjhaIj48L3BhdGg+PC9zdmc+");
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-size: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iI2RjMzU0NSIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xMjgsMjRBMTA0LDEwNCwwLDEsMCwyMzIsMTI4LDEwNC4xMSwxMDQuMTEsMCwwLDAsMTI4LDI0Wm0wLDE5MmE4OCw4OCwwLDEsMSw4OC04OEE4OC4xLDg4LjEsMCwwLDEsMTI4LDIxNlptLTgtODBWODBhOCw4LDAsMCwxLDE2LDB2NTZhOCw4LDAsMCwxLTE2LDBabTIwLDM2YTEyLDEyLDAsMSwxLTEyLTEyQTEyLDEyLDAsMCwxLDE0MCwxNzJaIj48L3BhdGg+PC9zdmc+");

}

:where(input, button):focus {
  box-shadow: none !important;
}

.btn {
  width: unset;
  grid-gap: 5px;
  padding: 8px 20px;
  text-align: center;
  border-radius: 5px;
  color: var(--white);
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background-color: var(--primary);
}

.btn:active {
  background-color: var(--primary-hover) !important;
  color: var(--white) !important;
}

.btn:hover {
  color: var(--white) !important;
  background-color: var(--primary-hover);
}

.btn i {
  font-size: clamp(16px, 2vw, 18px);
}

.btn-outline {
  color: var(--black);
  background: var(--white);
  box-shadow: inset 0 0 0 0.9px var(--primary);
}

.btn.active {
  color: var(--white);
  background: var(--primary);
}

.accordion {
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}

.accordion-item {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 2px 2px 20px -5px #0001;
}

.accordion-button {
  font-size: clamp(14px, 2vw, 16px);
  font-family: var(--inter-font-family);
  font-weight: var(--font-weight-semi-bold);
}

.accordion-button:not(.collapsed) {
  color: var(--white);
  background: var(--secondary);
}

.accordion-button::after {
  content: '\E136';
  font-family: 'Phosphor';
  background: unset !important;
}

.accordion-body {
  font-size: clamp(14px, 2vw, 16px);
}

.breadcrumb {
  align-items: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.breadcrumb-item.active {
  color: var(--primary);
}

.breadcrumb-item a {
  color: var(--white);
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\E13A";
  color: var(--bs-gray-400);
  font-family: 'Phosphor';
  font-size: 14px;
  line-height: 1;
  margin-top: 3px;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  line-height: 1.2;
}

.form-check>* {
  cursor: pointer;
  user-select: none;
}

.form-check-input {
  width: 18px;
  height: 18px;
  margin-top: 0;
  border-radius: 3px;
  background-size: 13px;
  margin-left: 0 !important;
  border: 1px solid var(--bs-gray-300) !important;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary) !important;
  background-image: url('../images/common/check.svg');
}

.form-check {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  padding: 0;
  margin-bottom: 0;
}

li:has(.form-check):not(:last-child) .form-check {
  margin-bottom: 10px !important;
}

.badge {
  font-size: 14px;
  border-radius: 3px;
  padding: 5px 10px 6px;
  color: var(--bs-gray-800);
  text-transform: capitalize;
  background: var(--bs-gray-200);
  font-weight: var(--weight-medium);
}

/* header */
header {
  z-index: 999;
  position: relative;
  box-shadow: 0 0 20px #00562e1a;
}

.logo {
  height: auto;
  display: flex;
  max-width: 200px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search_form{
  position: relative;
}

.search_form .input-group {
  margin-bottom: 0 !important;
  padding: 5px;
  grid-gap: 10px;
  border-radius: 5px;
  background-color: var(--white);
  height: 100%;
}

.search_form input {
  font-size: 14px;
}

.search_form input:focus{
  box-shadow: none !important;
}

.search_form .input-group>* {
  border: none;
  padding: 3px 10px;
  border-radius: 5px !important;
}

.search_form .input-group i {
  font-size: clamp(14px, 2vw, 16px);
}

#search-results {
  display: none;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 6px;
  position: absolute;
  width: 100%;
  z-index: 99999;
  box-shadow: 0 0 10px #0001;
}

.search-results-wrapper{

  max-height: 300px;
  overflow-y: auto;
}

.result-item {
  padding: 10px 15px;
  color: var(--black);
  border-bottom: 1px solid var(--bs-gray-200);
}

.result-item figure{
  aspect-ratio: 1;
}
.result-item figure img{
  object-fit: contain;
  border-radius: 5px;
  border: 1px solid var(--bs-gray-200);
}

.result-item:last-child {
  border-bottom: none;
}

.navbar {
  padding-block: 0 !important;
}

.navbar-nav {
  width: 100%;
  grid-gap: 10px;
}

.nav-link {
  border-radius: 5px;
  transition: 0.2s ease;
  padding: 4px 12px !important;
}

.nav-link:where(.active, :hover) {
  color: var(--white) !important;
  background-color: var(--secondary);
}

.navbar-toggler {
  border: none;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  color: var(--white);
  align-items: center;
  justify-content: center;
  background: var(--primary);
}

/* hero */
.hero {
  background-image: url("../images/backgrounds/hero_bg.svg");
  z-index: 1;
  position: relative;
  overflow: visible;
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero_heading {
  margin-bottom: 15px;
  font-weight: var(--weight-bold);
  font-size: clamp(30px, 4vw, 38px);
}

.hero_heading span {
  color: var(--primary);
}

.hero_text {
  color: var(--bs-gray-700);
  font-size: clamp(14px, 2vw, 16px);
}

.hero .search_form {
  height: 50px;
  margin-top: 35px;
  box-shadow: 2px 2px 20px -5px #0001;
  position: relative;
  z-index: 999999;
}

.hero_slider {
  border-radius: 6px;
  padding-bottom: 30px;
  margin-inline: 20px;
}


.hero_slider .swiper-pagination {
  bottom: 0px;
}

.swiper-pagination-bullet {
  height: 4px;
  width: 15px;
  border-radius: 10px;
  background-color: var(--secondary);
}

.hero_slider_arrows {
  left: 50%;
  z-index: 2;
  display: flex;
  position: absolute;
  align-items: center;
  top: calc(50% - 15px);
  width: calc(100% - 30px);
  justify-content: space-between;
  transform: translate(-50%, -50%);
}

.hero_slider_arrows .arrows {
  position: unset;
  margin: 0;
  inset: 0;
  background-color: var(--white);
}

.hero_slider_arrows .arrows:after {
  color: var(--secondary);
}

.hero_slide {
  position: relative;
  overflow: hidden;
  height: 250px;
  display: block;
  border-radius: 5px;
}

.hero_slide figure.overlay:before {
  opacity: 0.5;
  background: linear-gradient(90deg, var(--secondary) 10%, transparent 60%);
}

.hero_slide_content {
  top: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  border-radius: 0 0 8px 0;
  z-index: 1;
  justify-content: flex-end;
  height: calc(100% - 50px);
  padding: 20px 60px 20px 30px;
  background-color: var(--secondary);
  align-items: flex-start;
}

.hero_slide_tag {
  position: absolute;
  top: 20px;
  left: 0;
  background: var(--white);
  padding: 4px 10px 3px;
  border-radius: 0 5px 5px 0;
  color: var(--black);
  font-size: clamp(10px, 2vw, 12px);
  font-weight: var(--weight-medium);
  text-transform: uppercase;
}

.hero_slide_title {
  font-size: clamp(22px, 2vw, 24px);
  color: var(--white);
}

.hero_slide_text {
  font-size: clamp(12px, 2vw, 14px);
  color: var(--bs-gray-400);
}

.hero_slide_code {
  display: flex;
  padding: 6px 10px;
  margin-top: 20px;
  border-radius: 5px;
  align-items: center;
  background: var(--primary);
  position: relative;
  padding-left: 68px;
}

.hero_slide_code span {
  color: var(--white);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--weight-bold);
}

.hero_slide_code i {
  top: 50%;
  left: 0;
  font-size: 60px;
  position: absolute;
  color: var(--white);
  transform: translateY(-50%);
}

/* top categories */
.categories_card {
  display: flex;
  padding: 10px;
  grid-gap: 10px;
  border-radius: 5px;
  align-items: center;
  transition: 0.2s ease;
  flex-direction: column;
  border: 1px solid var(--bs-gray-300);
}

.categories_card:hover {
  border-color: var(--primary);
  background-color: var(--primary-light);
}

.categories_img {
  width: 80px;
  height: 80px;
  padding: 5px;
}

.categories_title {
  color: var(--black);
  font-size: clamp(16px, 2vw, 18px);
}

/* top stores */
.featured_store {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 2px 2px 20px -5px #0001;
  overflow: hidden;
}

.featured_store_bg {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: center;
  background-image: url("../images/common/stoer_bg.webp");
}

.featured_store_content {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}

.featured_store_name {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: var(--weight-medium);
  color: var(--black);
}

.featured_store_title {
  margin-top: 5px;
  color: var(--primary);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--weight-medium);
}

.featured_store_content .btn {
  width: 100%;
  margin-top: 20px;
}

.featured_store_img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.featured_store_img img {
  object-fit: contain;
}

.featured_store_bg>* {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: var(--weight-bold);
  color: var(--white);
}

.popular_stores_slider {
  width: 100%;
  padding: 5px;
  height: 360px;
}

.popular_stores_slider .swiper-slide {
  max-width: 305px;
}

.popular_str {
  display: flex;
  align-items: center;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 2px 2px 20px -5px #0001;
  overflow: hidden;
  height: 100%;
}

.popular_str_img {
  height: 100px;
  width: 100px;
  border-right: 1px solid var(--bs-gray-300);
  padding: 5px;
}

.popular_str_img img {
  border-radius: 5px;
  object-fit: contain;
}

.popular_str_content {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  grid-gap: 3px;
}

.popular_str_name {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--black);
}

.popular_str_offers {
  font-size: clamp(12px, 2vw, 14px);
  color: var(--primary);
  font-weight: var(--weight-medium);
}

/* steps */
.step {
  padding: 40px 20px;
  border: 1px solid #fff2;
  border-radius: 5px;
  height: 100%;
  background: var(--secondary-dark);
}

.step_icon {
  display: flex;
  height: 60px;
  width: 60px;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, var(--primary), var(--primary));
}

.step_icon:after,
.step_icon:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  border-radius: 50px;
  background-color: var(--white);
}

.step_icon:after {
  top: -43px;
  left: 10px;
}

.step_icon:before {
  top: -50px;
  left: -20px;
}

.step_icon i {
  font-size: clamp(22px, 2vw, 25px);
}

.step_title {
  font-size: clamp(18px, 2vw, 20px);
  padding-block: 20px 5px;
}

.step_description {
  color: var(--bs-gray-500);
  font-size: clamp(12px, 2vw, 14px);
}

/* featured Coupon */
.coupon-card {
  width: 100%;
  padding: 20px;
  grid-gap: 30px;
  overflow: hidden;
  border-radius: 10px;
  flex-direction: row;
  transition: 0.2s ease;
  background-color: var(--white);
  box-shadow: 2px 2px 20px -5px #0001;
  border: 1px solid var(--bs-gray-200);
}

.coupon-card .card-header {
  padding: 0;
  border: none;
  background-color: transparent;
}

.coupon-card:hover {
  border-color: var(--primary);
}

.coupon-card figure,
.single_str_img {
  padding: 5px;
  width: 100px;
  height: 100px;
  border-radius: 6px;
  margin-inline: auto;
  background: var(--white);
  border: 1px solid var(--bs-gray-200);
  box-shadow: 2px 2px 20px -5px #0001;
}

.coupon-card figure img,
.single_str_img img {
  object-fit: contain;
}

.coupon-card .card-body {
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
}

.coupon-card .card-body .btn {
  align-self: flex-end;
  padding-inline: 40px;
}

.coupon-card .card-title {
  color: var(--black);
  margin-bottom: 10px;
  font-size: clamp(16px, 2vw, 18px);
  font-weight: var(--weight-medium);
}

.coupon-card .card-subtitle {
  color: var(--primary);
  font-size: clamp(12px, 2vw, 14px);
  text-transform: uppercase;
  font-weight: var(--weight-medium);
  position: absolute;
  background: var(--primary-light);
  padding: 5px 15px;
  border-radius: 5px;
  bottom: 20px;
  left: 20px;
  width: 100px;
  text-align: center;
}

.coupon-card .card-text {
  color: var(--bs-gray-600);
  margin-bottom: 5px;
}

.coupon-card .coupon-valid {
  margin-block: auto 10px;
  color: var(--bs-danger);
  font-size: clamp(12px, 2vw, 14px);
  font-weight: var(--weight-medium);
}

/* footer */

.social_icons {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  justify-content: flex-start;
}

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
}

.icon figure {
  height: 20px;
  width: 20px;
}

.google_plus figure {
  height: 25px;
  width: 25px;
}

.icon figure img {
  object-fit: contain;
}

.icon.facebook {
  background: rgba(24, 119, 242, 1);
}

.icon.twitter {
  background: rgba(93, 169, 221, 1);
}

.icon.google_plus {
  background: rgba(225, 56, 56, 1);
}

.icon.linkedin {
  background: rgba(2, 80, 177, 1);
}

.icon.pinterest {
  background: rgba(230, 0, 35, 1);
}

.icon.instagram {
  background: linear-gradient(216deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.footer-text {
  display: flex;
  grid-gap: 10px;
  margin-top: 15px;
  padding-left: 10px;
  align-items: center;
  color: var(--white);
}

.footer-text span {
  opacity: 0.8;
}

.footer-text i {
  color: var(--primary);
}

.post_box {
  display: flex;
  grid-gap: 20px;
  margin-top: 15px;
}

.post_box i {
  font-size: clamp(22px, 4vw, 28px);
  color: var(--primary);
}

.stats_number {
  color: var(--white);
  text-transform: capitalize;
  font-size: clamp(16px, 2vw, 18px);
  font-weight: var(--weight-medium);
}

.post_box_content p,
.footer_disclaimer {
  opacity: 0.8;
  padding-top: 5px;
  color: var(--white);
  text-transform: capitalize;
  font-size: clamp(12px, 2vw, 14px);
}

.footer-top {
  padding-block: 40px;
}

.footer-copyright {
  border-top: 1px solid var(--secondary-light);
}

.footer-copyright p {
  color: var(--bs-gray-200);
}

.footer-copyright a {
  color: var(--primary);
  text-decoration: underline;
}

/* trending offers */
.trending_slider {
  padding: 5px;
}

.swiper-slide:has(.trending_offer_card) {
  height: unset;
}

.trending_offer_card {
  padding: 20px;
  height: 100%;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 2px 2px 20px -5px #0001;
}

.trending_offer_card figure {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid var(--bs-gray-200);
}

.trending_offer_card figure img {
  object-fit: contain;
}

.trending_offer_card .btn {
  margin-top: auto;
}

.trending_offer_title {
  color: var(--secondary);
  font-size: clamp(14px, 2vw, 18px);
  font-weight: var(--weight-bold);
  -webkit-line-clamp: 2;
}

/* stores */
.container_wrapper {
  box-shadow: 2px 2px 20px -5px #0001;
}

.store_card {
  height: 100%;
  display: flex;
  padding: 10px;
  grid-gap: 10px;
  border-radius: 5px;
  align-items: center;
  transition: transform 0.3s;
  background: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-200);
}

.store_card:hover {
  transform: translateY(-5px);
}

.store_title {
  line-height: 1.4;
  -webkit-line-clamp: 1;
  color: var(--secondary);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--weight-medium);
}

.store_card .store_img {
  width: 60px;
  height: 60px;
  padding: 8px;
  flex: 0 0 auto;
  border-radius: 5px;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.store_card .store_img img {
  object-fit: contain;
}

.store_card .offers span {
  margin-bottom: 5px;
  color: var(--primary);
  font-size: clamp(12px, 2vw, 14px);
  font-weight: var(--weight-medium);
}

.all_stores>*:nth-child(1) {
  padding-top: 0 !important;
}

.alphabets {
  display: flex;
  grid-gap: 10px;
  flex-wrap: wrap;
  list-style: none;
}

.alphabet {
  padding: 6px 12px;
  color: var(--secondary);
  background: var(--primary-light);
}

.alphabet.active {
  color: var(--white);
  background: var(--primary);
}

/* categories list */
.categories_list li {
  display: flex;
  grid-gap: 5px;
  align-items: center;
}

.categories_list a {
  color: var(--bs-gray-600);
  font-size: clamp(14px, 2vw, 16px);
}

.categories_list i {
  color: var(--primary);
  font-size: clamp(16px, 2vw, 18px);
}

#scrollToTopBtn {
  width: 40px;
  right: 20px;
  bottom: 20px;
  height: 40px;
  position: fixed;
  z-index: 999999;
}

/* about us */
.about :where(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--weight-bold);
}

.about p {
  color: var(--bs-gray-600);
}

/* contact us  */
.contact-image {
  max-width: 100%;
  height: auto;
}

.info-icon {
  line-height: 1;
  margin-bottom: 10px;
  color: var(--primary-hover);
  font-size: clamp(30px, 4vw, 40px);
}

.info_detail {
  display: flex;
  grid-gap: 5px;
  flex-direction: column;
}

.info_detail p {
  color: var(--bs-gray-600);
}

/* single store */
.single_store_img {
  aspect-ratio: 1;
  border-radius: 5px;
  background-color: var(--white);
}

.single_str_desc {
  color: var(--bs-gray-400);
}

.single_str_desc+nav .breadcrumb {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--secondary-light);
}

.single_store_img img {
  object-fit: contain;
}

.rating_stars li {
  line-height: 1;
}

.single-str-coupon-card {
  height: 100%;
  display: flex;
  border-radius: 8px;
  transition: 0.2s ease;
  flex-direction: column;
  background: var(--white);
  box-shadow: 2px 2px 20px -5px #0001;
}

.single-str-coupon-card:hover {
  border-color: var(--primary) !important;
}

.single_str_cpn_content {
  flex: 1;
}

.single-str-cpn-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid var(--bs-gray-300);
}

.single-str-cpn-img img {
  object-fit: contain;
}

.coupon-title {
  margin-bottom: 5px;
  font-weight: var(--weight-bold);
  font-size: clamp(18px, 2vw, 20px);
}

.coupon-description {
  color: var(--bs-gray-600);
  font-size: clamp(14px, 2vw, 16px);
}

.coupon-tag .icon.verified {
  color: var(--primary) !important;
  font-size: clamp(18px, 2vw, 20px) !important;
}

.coupon-tag .icon {
  width: unset;
  height: unset;
  color: var(--bs-gray-600);
  font-size: clamp(16px, 2vw, 18px);
}

.coupon-tag span {
  color: var(--secondary);
  font-size: clamp(12px, 2vw, 14px);
  font-weight: var(--weight-medium);
}

.single_cpn_top {
  flex: 1;
}

.coupon-code {
  padding: 0;
  border: none;
  height: 40px;
  width: 150px;
  display: block;
  overflow: hidden;
  margin-top: auto;
  position: relative;
}

.coupon-code span {
  z-index: 1;
  width: 80%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  transition: 0.2s ease;
  justify-content: center;
  background: var(--primary);
}

.coupon-code.deal span {
  width: 100%;
}

.coupon-code:not(.deal):hover span {
  width: 75%;
}

.coupon-code:before {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 5px;
  color: var(--black);
  position: absolute;
  align-items: center;
  padding-inline: 10px;
  transition: 0.2s ease;
  content: attr(data-code);
  justify-content: flex-end;
  border: 1px dashed var(--primary);
  background-color: var(--primary-light);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, #ddecee 4px, #ddecee 8px);
}

.nav-pills .btn {
  flex: 1;
  color: var(--black);
  background: var(--primary-light);
  border: 1px solid var(--primary);
}

.nav-pills .btn:where(.active, :hover) {
  color: var(--white);
  background: var(--primary);
  border: 1px solid var(--primary);
}

.tags {
  padding: 0;
  list-style: none;
}

.tags a {
  font-size: 14px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.2s ease;
  color: var(--secondary);
  font-weight: var(--weight-medium);
}

.tags a:hover {
  color: var(--white);
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}

.single_category_img {
  width: 100px;
  padding: 5px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-inline: auto;
  border: 1px solid var(--bs-gray-200);
}

.category_title {
  font-size: clamp(16px, 2vw, 18px);
}

/* modal */
#cpnModal .modal-dialog {
  max-width: 600px;
}

#cpnModal .modal-content {
  width: 98%;
  border: none;
  box-shadow: 0 0 30px #0003;
  margin-inline: auto;
}

.modal-img {
  aspect-ratio: 1;
  border-radius: 5px;
  border: 1px solid var(--bs-gray-300);
}

.modal-img img {
  object-fit: contain;
}

#cpnModal .btn-close {
  top: 15px;
  right: 15px;
  position: absolute;
  background-size: 12px;
}

/* responsive */
@media (max-width: 992px) {
  .hero_slider {
    margin-inline: 0;
  }

  .hero_slider_arrows {
    width: calc(100% - 60px);
  }

  .hero_slide_content {
    height: 100%;
    padding-inline: 70px;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .logo {
    max-width: 180px;
  }

  .navbar-collapse {
    top: 0;
    left: -300px;
    width: 300px;
    padding: 10px;
    height: 100dvh;
    z-index: 999999;
    position: fixed;
    padding-top: 20px;
    transition: 0.3s ease;
    background: var(--white);
    display: block !important;
    border-right: 1px solid var(--bs-gray-200);
  }

  .navbar-collapse.show {
    left: 0;
    box-shadow: 100vmax 0px 0 100vmax #0007;
  }

  .navbar-collapse .navbar-toggler {
    top: 10px;
    right: 10px;
    position: absolute;
    background-color: var(--secondary);
  }

  .nav-link {
    padding: 6px 16px !important;

  }
}

@media (max-width: 576px) {
  .modal-img {
    width: 100px;
    margin-inline: auto;
  }

  .single_store_img {
    width: 130px;
    margin-inline: auto;
  }

  .navbar:has(.navbar-toggler) {
    position: unset;
  }

  .navbar-toggler {
    top: 10px;
    padding: 8px;
    right: 10px;
    position: absolute;
  }

  .coupon-card {
    grid-gap: 15px;
    flex-direction: column;
  }

  .coupon-card .card-body {
    text-align: center;
  }

  .coupon-card .coupon-valid {
    margin-bottom: 20px;
  }

  .coupon-card .card-subtitle {
    inset: unset;
    margin-top: 10px;
    position: relative;
    margin-inline: auto;
  }

  .coupon-card .card-body .btn {
    align-self: center;
  }
}